@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto:ital,wght@0,400;1,300&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: crimson;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    
}
nav li{
    list-style: none;
    color: white;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}

/* Game styling */

div.gameContainer{
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(230, 56, 120);
    border: 4px solid black;
    margin-left: 15px;
    margin-right: 15px;
}

div.gameContainer .container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Varela Round', sans-serif;
}

div.gameContainer .container .box{
    border: 2px solid black;
    font-size: 9vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.gameContainer .container .box:hover{
    background-color: rgb(221, 202, 238);
}

div.gameContainer .gameInfo{
    margin: 75px;
    padding: 0 34px;
    font-family: 'Baloo Bhai 2', cursive;
    border: 3px solid black;
    background-color: rgb(222, 35, 103);
    border-width: 10px;
}

div.gameContainer .gameInfo div{
    margin-top: 25px;
}

div.gameContainer .gameInfo .info{
    font-size: 25px;
}


div.gameContainer .gameInfo .imgBox img{
    width: 0;
    transition: width 1s ease-in-out;
}

div.gameContainer .gameInfo #reset{
    margin: 0 23px;
    padding: 6px 14px;
    background: #bc63bc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;  
}

div.gameContainer .gameInfo #reset:hover{
    background: #e5c7e5;
    color: rgb(6, 6, 6);
}


/* Removing outer borders */
div.gameContainer .container .bl-0{
    border-left: 0; 
}

div.gameContainer .container .br-0{
    border-right: 0;
}

div.gameContainer .container .bt-0{
    border-top: 0;
}

div.gameContainer .container .bb-0{
    border-bottom: 0;
}


/* Responsive Design Media Query */
@media screen and (max-width: 950px)
{
    div.gameContainer{
        flex-wrap: wrap;
    }
    div.gameContainer .container{
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }

    div.gameContainer .gameInfo h1{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800)
{
    div.gameContainer{
        flex-wrap: wrap;
        display: grid;
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}

